@import "../styles/_base.less";
@import "../styles/_mixins.less";

.i-tab-bar{
    display: flex;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    position: relative;
    justify-content: space-around;
    align-items: center;
    -webkit-box-align: center;
    background: #fff;

    &::after{
        .hairline();
        border-top-width: 1px;
    }

    &-fixed{
        position: fixed;
        bottom: 0;
        z-index: 2;
    }
    &-list{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &-layer{
        display: block;
        float: left;
        height: 100%;
    }
}