// Color
@primary-color          : #2d8cf0;
@info-color             : #2db7f5;
@success-color          : #19be6b;
@warning-color          : #ff9900;
@error-color            : #ed3f14;
@link-color             : #2D8cF0;
@link-hover-color       : tint(@link-color, 20%);
@link-active-color      : shade(@link-color, 5%);
@selected-color         : fade(@primary-color, 90%);
@tooltip-color          : #fff;
@subsidiary-color       : #80848f;
@rate-star-color        : #f5a623;

@title-color            : #1c2438;
@text-color             : #495060;

// Border color
@border-color-base      : #dddee1;  // outside
@border-color-split     : #e9eaec;  // inside

// Size
@size-grid-icon         : 28px;
@size-font-base         : 14px;