.i-btn {
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
  border-radius: 2px;
  border: 0 !important;
  position: relative;
  text-decoration: none;
  height: 44px;
  line-height: 44px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  color: #fff !important;
  background: #f7f7f7 !important;
  color: #495060 !important;
  margin: 10px;
}
.i-btn-hover {
  opacity: 0.9;
}
.i-btn-long {
  border-radius: 0;
  margin: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.i-btn-large {
  height: 48px;
  line-height: 48px;
}
.i-btn-small {
  height: 40px;
  line-height: 40px;
}
.i-btn-primary {
  color: #fff !important;
  background: #2d8cf0 !important;
}
.i-btn-ghost {
  color: #fff !important;
  background: #fff !important;
  color: #495060 !important;
}
.i-btn-success {
  color: #fff !important;
  background: #19be6b !important;
}
.i-btn-warning {
  color: #fff !important;
  background: #ff9900 !important;
}
.i-btn-error {
  color: #fff !important;
  background: #ed3f14 !important;
}
.i-btn-info {
  color: #fff !important;
  background: #2db7f5 !important;
}
.i-btn-circle {
  border-radius: 44px;
}
.i-btn-large.i-btn-circle {
  border-radius: 48px;
}
.i-btn-small.i-btn-circle {
  border-radius: 40px;
}
.i-btn-loading {
  opacity: 0.6;
}
.i-btn-loading-inner {
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff #fff #fff transparent;
  -webkit-animation: btn-spin 0.6s linear;
          animation: btn-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.i-btn-disabled {
  color: #bbbec4 !important;
  background: #f7f7f7 !important;
}
.i-btn-inline {
  display: inline-block;
}
@-webkit-keyframes btn-spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes btn-spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
